*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100vh;
}

body{
    background: url("assets/mainback.jpg") no-repeat center center fixed;
    background-size: cover;    
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2rem;
}

.container{
    height: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    color: ivory;
    background-color: rgba(211, 211, 211, 0.075);
    background-size: 100%;
}

.top{
    flex: 2;
}

.box1{
    display: flex;
    margin: auto;
}

.box1 h1{
    padding-left: 1rem; 
    flex: 1;
}


.box1 img{
    display: none;
}

.navbar{
    flex: 3;
    padding-top: .65rem;
}

.navbar ul{
    text-align: right;
    padding-right: 2rem;
}

.navbar ul li{
    display: inline-block;
    padding-left: 1rem; 
}

.box2{
    padding: 12rem 0rem;
    text-align: center;
}

.bottom{
    padding: 3rem 0rem;
    flex: .5;
    text-align: center;
}

.bottom a{
    color: lightcyan;
    line-height: 2.5rem;
    border: solid 1px;
    padding: .2rem .5rem;
    padding-top: .1rem;
}

@media only screen and (max-width: 1000px){
    .navbar ul li ul{
        display: none;
        position: relative;
        z-index: 1;
    }

    .navbar ul li ul li{
        display: block;
        border-bottom: solid 1px rgba(255, 0, 0, 0.753);
        /* text-align: center; */
    }

    /* .navbar ul li img{
        position: relative;
        display: block;
        width: 1.5rem;
    } */

    .navbar ul li img{
        position: relative;
        display: block;
        width: 1.5rem;
        padding-left: 6rem;
        padding-top: .58rem;
    }

    /* .navbar ul li:hover ul{
        display: inline-block;
        position: absolute;
        font-size: 1.3rem;
        line-height: 2rem;
        background-color: rgba(0, 0, 0, 0.908);
        right: 5%;
        margin-left: 60%;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        border-radius: 7px;
    } */

    .navbar ul li:hover ul{
        display: inline-block;
        position: absolute;
        font-size: 1.5rem;
        line-height: 2rem;
        background-color: rgba(0, 0, 0, 0.908);
        right: 0%;
        left: 0%;
        /* margin-left: 50%; */
        padding-top: 1rem;
        padding-bottom: 2rem;
        border-radius: 7px;
    }

    .box1 h1{
        padding-left: .5rem;
    }

    .box1 img{
        padding-left: 90%;
        display: block;
        width: 15%;
    }

    .box1 ul li:hover ul{
        display: block;
        overflow: hidden;
    }

    .box2{
        padding: 10rem 0rem;
    }
}