*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100vh;
}

body{
    background: url("assets/background1.jpg") no-repeat center center fixed;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    //-o-background-size: cover; */
    background-size: cover;    

    /* background-image: url("assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%; */
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2em;
}

.container{
    height: 100%;
    margin: 0 2em;
    display: flex;
    flex-direction: column;
    color: ivory;
    //background: rgba(166, 241, 210, 0.157); 
}

.top{
    flex: 2;
    //background-color: aqua;
}

.box1{
    display: flex;
    margin: auto;
    //background-color: rgba(166, 241, 210, 0.178); 
    //background-color:lightgreen;
}

.box1 h1{
    padding-left: 1em; 
    flex: 1;
}


.box1 img{
    display: none;
}

.navbar{
    flex: 3;
    padding-top: .65em;
    //background-color: rgba(166, 241, 210, 0.178); 
    //background-color: lightseagreen;
}

.navbar ul{
    text-align: right;
    padding-right: 2em;
}

.navbar ul li{
    display: inline-block;
    padding-left: 1em; 
}

.navbar a:hover{
    background-color:
}

.box2{
    padding: 12em 0em;
    text-align: center;
    //background-color: rgba(166, 241, 210, 0.178); 
    //background-color: lightslategray;
}

.bottom{
    padding: 3em 0em;
    flex: .5;
    text-align: center;
    //background-color: rgba(166, 241, 210, 0.178); 
}

.bottom a{
    color: lightcyan;
    line-height: 2.5em;
    border: solid 1px;
    padding: .2em .5em;
    padding-top: .1em;
    //padding-bottom: .2em;
}

@media only screen and (max-width: 640px){
    .navbar{
        position: relative;
        display: inline-block;
    }
    
    .navbar ul li ul{
        position: absolute;
        float: right;
        display: none;
        background-color: black;
        margin-left: 40%;
        padding: 1em .5em;
        padding-right: 1.5em;
        z-index: 1;
    }

    .navbar ul li ul li{
        font-size: .95em;
        text-align: left;
        display: block;
    }

    .box1 h1{
        padding-left: .5em;
    }

    .box1 img{
        padding-left: 90%;
        display: block;
        //width: 5vh;
        width: 15%;
        //padding-top: .2.5em;
    }

    .box1 ul li:hover ul{
        display: block;
        overflow: hidden;
    }

    .box2{
        padding: 10em 0em;
    }
}